body{
    margin:0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:rgb(0, 0, 0);
}

.first{
width:100%;
height:100vh;
overflow:hidden;
position: relative;
margin-bottom: 30px auto;
}

.bg-img{
    width:100%;
    height:100vh;
    transform:scale(1.5); 
    object-fit:cover;
    
}

.tint{
    background-color: rgba(0, 0, 0, 0.45);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.content{
    position: absolute;
    color: white;
}


.box{
   
    border: none solid white;
    position: absolute;
    top: 30%;
    left: 21%;
    width:1000px;
    height:400px;
  
  
}

.title{
    font-size:48px;
    margin-bottom:10px;

}



.subtitle1{
    font-size:25px;
    margin-top:0px;
}

.subtitle2{
    font-size:21px;
    margin-top:0px;

}

.email{
    background-color: rgba(0, 0, 0, 0.356);
    width:348px;
    margin-left:133px;
    padding:20px;
    padding-left: 12px;;
    border:1px solid rgba(255, 255, 255, 0.5);
    border-radius:5px;
    color:rgba(255, 255, 255, 0.453);
    
}

.email::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    transition: 0.3s ease;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.email:hover::placeholder {
    font-size: 12px;
    top: 8px;
    left: 10px;
    transform: translateY(0);
    color: rgba(255, 255, 255, 0.9);
}


.btn{
    background-color:red;
    width:210px;
    height:57px;
    border-radius:5px;
    border:none;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;

}

.text{
    color: white;
    font-size:25px;
    margin-right: 10px;
  
}

.button svg {
    width:23px;
    height:23px;
    fill: white;
  
}

.flexbox-container{
    display:flex;
    align-items:center;
    gap:8px;
    border: none solid white;
    height:100px;
    margin: top 1px;
}

.button{
     display:flex;
    gap:10px;
}

.nav{
    position:absolute;
    top:0;
    display:flex;
    width:1150px;
    justify-content:space-between;
    top:7.5%;
    left:48.7%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.logo{
    color:rgb(229, 9, 20);;
}

.nav-flex{
    display:flex; 
    ;
}


.login-btn{
    padding:7.5px 16px;
    border:none;
    background-color:red;
    color:white;
    border-radius:5px;
    font-size:15px;
   
}

.language1-select {
    color: white; 
    font-size: 15px; 
  
}

.language1-select label {
    margin:2%;
}

.language1-select select {
    padding: 6px 17px;
    font-size: 14px;
    border: 0.2 px solid white;
    background-color: #262323; 
    color: white;
    border-radius: 5px; 
}

.languag1e-select select:focus {
    outline: none;
    border-color: #ff9900; 
}


/* .eng-btn{
    padding:5px 16px;
    background-color: rgba(0, 0, 0, 0.481);
    color:white;
    border:1px  solid rgba(255, 255, 255, 0.593);
    width:130px;
    border-radius:5px;
    font-size:17px;
    cursor: pointer;
} */



.second{
    color:white;
    display:flex;
    width:990px;
    margin:90px auto;
    gap:100px;
}
 
.left{
    width:50%
}

.right{
    width:50%
}

.tv{
    width:123%;
    position:relative;

    
}

.video{
    margin-left:80px;
    margin-top:95px;
    height:60%;
    object-fit:contain;
    position:absolute;
  
}

.real-tv{
    width:495px;
    display:block;
    position:relative;

}

.heading{
    font-size:50px;
    font-weight:bolder;
    margin-top:40%;
    margin-left:-20%;
   
}

.subheading{
    margin-top:-6%;
    font-size:22px;
    margin-left:-20%;
}

section{
    border-bottom:8px solid #eeeeee49
}

.third{
    color:white;
    display:flex;
    width:990px;
    margin:90px auto;
    gap:100px;
    align-items: center;
}





.mobile{
    position:relative;
    display: flex;
    justify-content: center;
    margin-left:-150px;
}

.mobile-img{
    width:95%;
    height:60% ;
}

.download{
   
    position:absolute;
    border:20px;
    left:50%;
    top:72%;
    transform: translate(-50%); 
    border-radius: 10px;
    border:1.5px solid rgba(255, 255, 255, 0.564) ;
    width:340px;
    height:90px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: black;
    color:white;

}

.boxshot{
    position:absolute;
    width:20%;
    padding:3%;
    border-radius:10px;
    left:0;
    width:60px;
    height:80px;
    overflow:hidden;
    object-fit:cover;
    margin-right: 10px;
}

.ST, .DN {
    margin: 0; 
    line-height: 1.2;
}

.ST{
    font-weight:bold;
    transform: translate(60%, -50%);
    font-size:18px;
}


.DN{
    color:rgb(47, 47, 226);
   font-size:.9em;
    transform: translate(-55%, 80%);
}

.bi-download {
   margin-right:15px;
    margin-left:  auto; 
}

.heading1{
    font-size:50px;
    font-weight:bolder;
    margin-top:-1%;
    margin-left:-20%;
   
}

.subheading1{
    margin-top:-6%;
    font-size:22px;
    margin-left:-20%;
}



.fourth{
    color:white;
    display:flex;
    width:990px;
    margin:90px auto;
    gap:100px;
    align-items: center;
    
}


.video1{
    margin-left:20%;
    margin-top:9.5%;
    height:50%;
    width:78%;
    object-fit:contain;
    position:absolute;
}

.tv1{
    width:120%;
    position:relative;
}

.heading2{
    font-size:50px;
    font-weight:bolder;
    margin-top:-10%;
    margin-left:-15%;

}

.subheading2{
   
    font-size:22px;
    margin-top:-6%;
    margin-left:-15%;

}



.fifth{
    color:white;
    display:flex;
    width:990px;
    margin:90px auto;
    gap:100px;
    align-items: center;
}


.children-img{
    width: 130%;
    height:100% ;
    margin-left:-25%;
}


.heading3{
    font-size:50px;
    font-weight:bolder;
    margin-top:15%;
    margin-left:-15%;
    

}

.subheading3{
   
    font-size:22px;
    margin-top:-6%;
    margin-left:-15%;

}


.sixth{
    color:white;
    width:990px;
    margin:90px auto;
    gap:100px;
    align-items: center;
    text-align: center;
  
}


.FAQ{
    font-size:50px;
    font-weight:bold;
    margin-top:1%;
    margin-bottom:20px;
}

.box1{
    width:115%;
    height:60%;
    padding-left:30px;
    background-color: rgba(124, 121, 121, 0.356);
    text-align:left;
    display:flex;
    align-items: center;
    margin-left:-10%;
    margin-bottom: 10px;
}

.text1{
    font-size:170%;
}

.box1 svg {
    margin-left: auto;
    padding-right:20px;
    padding-top:1px;
}


.last{
    color:white;

    height:300px;
    width:1100px;
    margin:90px auto;
    gap:100px;
    align-items: center;
    text-align: center;
  
}

.last1{
    text-align: left; 
    margin: 2%; 
}


.table{
   
    height:200px;
    width:1030px;
    margin:0;
    text-align: left;
    margin-left:2%;
}


.language-select {
   
    color: white; 
    font-size: 15px; 
    margin-left: -0.5%; 
    margin-bottom:8%;
}

.language-select label {
    margin-right: 10px; 
}

.language-select select {
    padding: 5px 23px;
    font-size: 14px;
    border: 1px solid white;
    background-color: #262323; 
    color: white;
    border-radius: 3px; 
}

.language-select select:focus {
    outline: none;
    border-color: #ff9900; 
}
